<div class="overlay" *ngIf="loading">
  <p-progressSpinner></p-progressSpinner>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-panel>
                <ng-template pTemplate="header">
                    <div class="flex justify-content-between align-items-center w-full">
                        <span>Kullanıcı Detay</span>
                        <button pButton label="Geri Dön" icon="pi pi-arrow-left" class="p-button-sm p-button-secondary"
                            (click)="goBack()"></button>
                    </div>
                </ng-template>

                <p-card *ngIf="user">
                    <div><strong>İsim:</strong> {{ user.name }}</div>
                    <div>
                        <strong>Kullanıcı Adı:</strong> {{ user.username }}
                    </div>
                    <div><strong>Eposta:</strong> {{ user.email }}</div>
                    <div><strong>Telefon:</strong> {{ user.phone }}</div>
                    <div><strong>Website:</strong> {{ user.website }}</div>
                    <div>
                        <strong>Adres:</strong>
                        {{ user.address.street }}, {{ user.address.suite }},
                        {{ user.address.city }} - {{ user.address.zipcode }}
                    </div>
                    <div><strong>Şirket:</strong> {{ user.company.name }}</div>
                    <div>
                        <strong>Slogan:</strong> {{ user.company.catchPhrase }}
                    </div>
                </p-card>
            </p-panel>
        </div>
    </div>
</div>